In [1]:
import pandas as pd

In [2]:
Dec2022 = pd.read_csv('Dec22_Data.csv')
Nov2022 = pd.read_csv('Nov22_Data.csv')
Oct2022 = pd.read_csv('Oct22_Data.csv')
Sep2022 = pd.read_csv('Sep22_Data.csv')
Aug2022 = pd.read_csv('Aug22_Data.csv')
Jul2022 = pd.read_csv('Jul22_Data.csv')


summary1 = Jul2022.append(Aug2022)
summary2 = summary1.append(Sep2022)
summary3 = summary2.append(Oct2022)
summary4 = summary3.append(Nov2022)
summary = summary4.append(Dec2022)

In [3]:
summary.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
summary.drop(["a"], axis=1, inplace=True)

In [4]:
summary.head(5)

,Date,City,State,Country,Shape,Duration,Summary,Posted,Images
0,7/31/22 22:52,Cuenca,NaN,Ecuador,Light,5 minutes,Triangle shape moving lights,10/8/22,Yes
1,7/31/22 21:59,West Lafayette,OH,USA,Light,4 minutes,Bright circle light moving through sky.,9/9/22,Yes
2,7/31/22 21:45,Burr Ridge,IL,USA,Other,NaN,"Strange red, blue and black craft in the sky a...",9/9/22,Yes
3,7/31/22 21:25,"Lingan, Cape Breton Island",NS,Canada,Cylinder,1-2 minutes,We were waiting for fireworks to start across ...,9/9/22,NaN
4,7/31/22 21:15,Conway,SC,USA,Circle,Less than a minute,Round bright white light go in a straight line...,9/9/22,NaN

In [5]:
USummary = summary.loc[summary['Country'] == 'USA']

In [7]:
USummary.head(5)

,Date,City,State,Country,Shape,Duration,Summary,Posted,Images
1,7/31/22 21:59,West Lafayette,OH,USA,Light,4 minutes,Bright circle light moving through sky.,9/9/22,Yes
2,7/31/22 21:45,Burr Ridge,IL,USA,Other,NaN,"Strange red, blue and black craft in the sky a...",9/9/22,Yes
4,7/31/22 21:15,Conway,SC,USA,Circle,Less than a minute,Round bright white light go in a straight line...,9/9/22,NaN
5,7/31/22 21:11,Keyser,WV,USA,Light,2 minutes,Saw an orb that interacted with me.,9/9/22,NaN
6,7/31/22 20:43,gressham,OR,USA,Unknown,less than a minute,A single soft red light that pulsed three time...,9/9/22,NaN

In [8]:
USummary['ReportNum'] = USummary.index

/Users/ajdomingo/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
USummary.head(5)

,Date,City,State,Country,Shape,Duration,Summary,Posted,Images,ReportNum
1,7/31/22 21:59,West Lafayette,OH,USA,Light,4 minutes,Bright circle light moving through sky.,9/9/22,Yes,1
2,7/31/22 21:45,Burr Ridge,IL,USA,Other,NaN,"Strange red, blue and black craft in the sky a...",9/9/22,Yes,2
4,7/31/22 21:15,Conway,SC,USA,Circle,Less than a minute,Round bright white light go in a straight line...,9/9/22,NaN,4
5,7/31/22 21:11,Keyser,WV,USA,Light,2 minutes,Saw an orb that interacted with me.,9/9/22,NaN,5
6,7/31/22 20:43,gressham,OR,USA,Unknown,less than a minute,A single soft red light that pulsed three time...,9/9/22,NaN,6

In [10]:
USummary.to_csv('summary.csv')